@import "tailwindcss";

@theme inline {
  --color-primary: #8a5e3d;
  --color-background-light: #f7f7f6;
  --color-background-dark: #1d1815;
  --font-display: var(--font-inter);
  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}